body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-canvas {
    border: 1px solid black;
    background-color: black;
    z-index: 0;
}

#overlay {
    position: absolute;   /* or fixed if you want it pinned to viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
}

/* Utility classes */

.hidden {
    display: none!important;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
